@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

/* GLOBAL RESET/DECLARATIONS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

/* ********** */
/* COMMON CSS */
/* ********** */

.App {
  width: 100%;
}

.wordbreak {
  overflow-wrap: break-word;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: grey;
  color: white;
  z-index: 100;
}

.navItem {
  display: inline-block;
  margin: 0.25rem;
}

.main {
  position: relative;
  min-height: calc(100vh - 132px);
}

.link {
  text-decoration: none;
  color: rgb(210, 210, 210);
}

.hover:hover {
  color: aquamarine;
}

.link:hover {
  color: aquamarine;
}

.linkactive {
  color: white;
  text-decoration: none;
}

/* ************ */
/* HOMEPAGE CSS */
/* ************ */

.video {
  position: relative;
  width: 100vw;
  filter: grayscale(0.1) brightness(0.4);
  z-index: -1;
  min-height: 50vh;
  max-height: 75vh;
  object-fit: cover;
}

.tasteitHeader {
  position: absolute;
  color: white;
  top: 5vh;
  left: 10vw;
  margin-right: 5rem;
}

.tasteit {
  margin: 5rem 0;
}

.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border: 1px solid lightgray;
  width: 18rem;
  margin: 1rem;
  padding: 2rem 1rem;
  box-shadow: 3px 3px 5px grey;
  line-height: 1.75rem;
}

.boxlink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.boxlink:hover {
  color: rgb(0, 119, 4);
}

.content {
  padding: 1.5rem;
  text-align: center;
}

/* ************** */
/* BROWSE RECIPES */
/* ************** */

.searchbar {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
}

.recipecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 20rem;
  height: max-content;
  border: 1px solid lightgray;
  margin: 3rem;
  border-radius: 7px;
  position: relative;
  box-shadow: 3px 3px 5px grey;
  line-height: 1.75rem;
}

.cardimage {
  max-width: 100%;
  max-height: 240px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
  margin: 0 auto;
}

.cardflag {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 4rem;
  height: 3rem;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.cardcontent {
  padding: 1rem;
}

.readmore {
  padding: 0.5rem 1rem;
  background-color: aquamarine;
  border: none;
  border-radius: 6px;
  margin-top: 0.75rem;
  align-self: flex-end;
}

/* ****************** */
/* SINGLE RECIPE PAGE */
/* ****************** */

.recipe {
  display: flex;
  width: 80vw;
  margin: 1rem auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  width: 60vw;
}

.right-column {
  padding: 1rem;
  width: 100%;
}

.flag {
  width: 4rem;
  border: 1px solid gray;
  margin: 1rem;
  position: absolute;
  top: -15px;
  left: -15px;
  border-radius: 50%;
}

.foodimage {
  width: 100%;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 0.75rem;
}

.tablerow {
  border: 1px solid gray;
  padding: 0.3rem 1rem;
}
/* *************** */
/* ADD RECIPE PAGE */
/* *************** */

.addrecipeheader {
  margin: 1.5rem 0;
}

.addrecipe {
  max-width: 50vw;
  margin: 2rem auto;
  line-height: 2rem;
}

.formsection {
  display: flex;
  flex-direction: column;
}

.formsection > input,
textarea,
select {
  padding: 0.75rem;
}

.formsection > textarea {
  height: 10em;
  resize: none;
}

.ingredients {
  flex-direction: row;
  justify-content: space-between;
}

.quantity {
  margin-right: 0.5rem;
}

.ingredient {
  width: 100%;
  margin-left: 0.5rem;
}

.button {
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid green;
  border-radius: 5px;
  margin-top: 1rem;
  color: green;
}

.button:hover {
  background-color: green;
  color: white;
}

.button:active {
  background-color: white;
  color: green;
}

/* ************ */
/* FOOTER STUFF */
/* ************ */

.footer {
  text-align: center;
  padding: 0.5rem;
  background-color: grey;
  color: white;
  position: relative;
  width: 100vw;
}

.small {
  font-size: 0.75rem;
  margin: 0 auto;
}
