@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.App {
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: grey;
  color: white;
  z-index: 100;
}

.navItem {
  display: inline-block;
  margin: 0.25rem;
}

.main {
  /* height: calc(100vh - 100px); */
  position: relative;
}

.video {
  position: relative;
  width: 100vw;
  filter: grayscale(0.1) brightness(0.4);
  z-index: -1;
  min-height: 50vh;
  max-height: 75vh;
  object-fit: cover;
}

.tasteitHeader {
  position: absolute;
  color: white;
  top: 5vh;
  left: 10vw;
  margin-right: 5rem;
}

.tasteit {
  margin: 5rem 0;
}

.link {
  text-decoration: none;
  color: rgb(210, 210, 210);
}

.boxlink {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.boxlink:hover {
  color: rgb(0, 119, 4);
}

.hover:hover {
  color: aquamarine;
}

.link:hover {
  color: aquamarine;
}

.linkactive {
  color: white;
  text-decoration: none;
}

.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border: 1px solid lightgray;
  width: 18rem;
  margin: 1rem;
  padding: 2rem 1rem;
  box-shadow: 3px 3px 5px grey;
}

.header {
  margin: 1rem;
}

.content {
  padding: 1.5rem;
  text-align: center;
}

.recipecontainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  height: max-content;
  border: 1px solid lightgray;
  margin: 1rem;
  border-radius: 7px;
  position: relative;
  box-shadow: 3px 3px 5px grey;
}

.cardimage {
  max-width: 100%;
  max-height: 240px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
  margin: 0 auto;
}

.cardflag {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 4rem;
  height: 3rem;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.cardcontent {
  padding: 1rem;
}

.readmore {
  padding: 0.5rem 1rem;
  background-color: aquamarine;
  border: none;
  border-radius: 6px;
  margin-top: 0.75rem;
  align-self: flex-end;
}

.footer {
  text-align: center;
  padding: 0.5rem;
  background-color: grey;
  color: white;
  position: relative;
  width: 100vw;
}

.small {
  font-size: 0.75rem;
  margin: 0 auto;
}
